# Assignment

Prepare the Palmer Penguins dataset for machine learning at a later time. You need to specifically address the following requirements in your submission.

- Check for outliers in numeric data, and deal with them if needed
- Check for missing values, and decide how to deal with them if needed
- Convert categorical columns to numeric values
- Create at least one new feature by combining multiple columns. For example, you could calculate the ratio of bill_length__ to bill_depth_mm. Create at least one plot for your new feature.
- Save the data to a csv (or another filetype of your choice) for use next week.
- Write a short analysis at the end of the notebook describing your findings and what you did.

Remember to provide your thoughts and analysis throughout your notebook. Code alone does not convey meaning or understanding.

### Our Dataset

**Dataset Name::** supermarket_sales.csv <br>
The palmerpenguins dataset contains size measurements for three penguin species observed on three islands in the Palmer Archipelago, Antarctica.

|Variable Name|Variable Description|
|---|---|
|species| Speicies of the penguin |
|island| Island the pnguin was observed on|
|bill_length_mm| Length of the pengun's bill|
|bill_depth_mm| Depth of the pengun's bill|
|flipper_length_mm| Length of the pengun's flipper|
|body_mass_g| Weight of the penguin|
|sex| Sex of the penguin|

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Makes graphics look better
sns.set()

In [3]:
penguins = sns.load_dataset('penguins')

In [4]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [5]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB